.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  width: 250px;
  height: 35px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  // justify-content: space-around;
  
}

.left-nav {
  // background-color: red;
  // // height: 1000px;
  // width: 500px;
  > ul {
    width: 300px;
    text-align: center;
    > li {
      // width: 300px;
      // background-color: red;
      font-family: Arial; 
	    text-transform: uppercase;
      font-weight: 750;
      width: 110px;
      height: 23px;
      border-radius: 5px;
      padding-top: 5px;
      // display: flex;
      // text-align: center;
      // background-color: red;
      // justify-content: space-evenly;
    }
  }

  span {
    margin: 12px;
  }
}

.right-nav  {

  > ul {
    > li {
      margin: 1px;
    }

    > li:last-of-type {
      margin-left: 10px;
      // width: 110px;
      // height: 27px;
      // border-radius: 5px;
      // padding-top: 5px;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

  background-color: rgba(211, 211, 211, 0.384);
}
