body {
    line-height: 1.5;
    font-family: arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

.my-other-list {
    list-style: square inside;
}

header > img {
    width: 100px;
}

ul > li > a{
    text-decoration: none;
}

body {
    background-color: lightcoral;
}

h2 {
    background-color: aqua;
}